* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    cursor: pointer;
    margin: 30px 0;
}

.menu-icon {
    width: 25px;
    cursor: pointer;
    display: none;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

nav ul li a:hover {
    color: #F63EB8;
}

.pageTitle {
    font-family: 'Amaranth', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #F63EB8;
    margin-left: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.col-1 {
    flex-basis: 40%;
    position: relative;
    margin: 0 20px 0 50px;
}

.col-1 h2 {
    font-size:  54px;

}

.col-1 h3 {
    font-size:  30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 30px;
}

.col-1 p {
    font-size:  16px;
    color: #303030;
    font-weight: 100;
    margin-bottom: 0 20px 30px 0;
}

.col-1 h4 {
    margin: 30px 0;
    font-size: 20px;
}



.col-1::after {
    content: '';
    width: 10px;
    height: 55px;
    background-color: #F63EB8;
    position: absolute;
    left: -40px;
    top: 8px;
}

.col-2 {
    flex-basis: 60%;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.col-2 .museum {
    width: 70%;
    height: auto;
}

.col-2 img {
    width: 100%;
    display: block;
    transition: transform 4s;
  }
.col-2:hover img {
    transform: scale(1.9);
  }

.color-box {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#F63EB8, #F63EB8);
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 80%;
    z-index: -1;
    transform: translateX(150px);
}

hr {
    font-family: 'Amaranth', sans-serif;
    font-size: 21px;
    font-weight: 100;
}











@media only screen and (max-width: 700px) {

    nav ul {
        width: 100%;
        background: linear-gradient(#F63EB8);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 100;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color:#fff;
    }

    .menu-icon {
        display: block;
    }

    #menuList {
        overflow: hidden;
        transition: 0.3s ease-in-out max-height;
        background-color: #F63EB8;
    }

    .row {
        flex-direction: column-reverse;
        margin: 50px 0;
    }

    .col-2 {
        flex-basis: 100%;
        margin-bottom: 50px;
    }

    .col-2 .museum {
        width: 100%;
        height: auto;
    }

    .boxText {
        display: none;
    }

    .color-box {
        transform: translateX(75px);
    }

    .col-1 {
        flex-basis: 100%;
        margin: 0 20px 0 0;
    }

    .col-1 h2 {
        font-size: 35px;
    }

    .col-1 h3 {
        font-size: 25px;
        color: #404040;
    }

    .col-1 p {
        color: #101010;
    }

    .pageTitle {
        font-size: 22px;
    }

    footer {
        flex-wrap: wrap;
        justify-content: center;
    }

}







footer {
    justify-content: center;
    display: flex;
    gap: 4em;
  }
  
footer ul li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

footer h2 {
    font-family: 'Amaranth', sans-serif;
}

#opening-hours {
    font-family: 'Amaranth', sans-serif;
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: justify;
    }

.location-and-phone {
    font-family: 'Amaranth', sans-serif;
    display: flex;
    flex-direction: column;
    }

.footerSection {
    font-family: 'Amaranth', sans-serif;
    font-size: 12;
    margin: 15px 10px 40px 10px;
}




